[submodule "Submodules/AFNetworking"]
	path = Submodules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Submodules/XMPPFramework"]
	path = Submodules/XMPPFramework
	url = https://github.com/wangzz/XMPPFramework.git
